.App {
  font-family: "BrunoAce";

  width: 100vw;
  height: 100vh;

  background: linear-gradient(45deg, #fc466b, #3f5efb);
}

.container {
  position: absolute;
  transform: translate(-50% 50%);
  top: 10vh;
  left: 25vw;
  z-index: 1;
}

@font-face {
  font-family: "BrunoAce";
  src: url(./asset/fonts/BrunoAce-Regular.ttf);
}
